.btn-menu-cart {
    position: fixed;
    bottom: 130px;
    right: 77px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu-btn {
    span{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

.menu-btn_link {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #1da1f2;
    padding: 0;
    font-size: 2.5rem;
    color: var(--white);
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    svg {
        font-size: 1.8rem;
    }

    &:hover {
        background-color: #585858;
        color: var(--white);
    }
}

.toggleMenuBtn-enter-active {
    animation: showMenuLink ease 0.3s;
}

.toggleMenuBtn-leave-active {
    animation: showMenuLink ease 0.3s reverse;
}

.title-man-enter-active {
    animation: showHideOp ease 0.3s;
}

.title-man-leave-active {
    animation: showHideOp ease 0.3s reverse;
}

.small {
    width: 44px;
    height: 44px;
    font-size: 1.8rem;
    padding-top: 13px;
}

.btn-cart {
    position: fixed;
    bottom: 68px;
    right: 74px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12px;
}

.title {
    font-size: 1.2rem;
    padding: 6px 15px;
    background-color: #333;
    color: var(--white);
    letter-spacing: 0.3px;
    border-radius: 2px;
    font-weight: 400;
    margin-right: 10px;
    transition: all 0.1s;
}

@keyframes showMenuLink {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes showHideOp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


