.footer__ending{
    background-color: var(--black);
}

.footer__ending-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.footer__ending-copyright{
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
}

.footer__ending-copyright span{
    color: #a7a7a7;
    font-weight: 400;
    margin-right: 8px;
}

.footer__ending-btn-list{
    list-style: none;
    display: flex;
    justify-content: end;
}

.footer__ending-link{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white);
    padding: 0 8px;
    border-right: 1px solid #a7a7a7;
    transition: 0.2s;
    user-select: none;
}

.footer__ending-item:last-child .footer__ending-link {
    border-right: none;
}

.footer__ending-item:hover .footer__ending-link{
    color: #1da1f2;
}