/* New post content */
.new__post-content{
    margin: 24px 0;
    text-align: center;
}

.new__post-content .new__post-content-item{
    position: relative;
    padding: 24px 18px;
}

.new__post-content-item-heading{
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 600;
    border-left: 3px solid #1da1f2;
    position: relative;
    min-height: 3.2rem;
}

.new__post-content-item-heading::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 5%;
    left: -4%;
    background-color: var(--black);
}

.new__post-content-item-header{
    padding-left: 8px;
    transition: color 0.3s;
    color: #333;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
}

.new__post-content-item-header:hover{
    color:#13aff0;
}

.new__post-content-item-img{
    margin-top: 16px;
    display: block;
}

.new__post-content-item-img img{
    width: 100%;
}